<% dates = []%>
<% month_calendar do |date| %>
  <% date.day %>
  <% dates.append(date)%>
<% end %>

<% year = dates[10].to_s%>
<% split_date = year.split("-") %>
<% year = split_date[0]%>
<% month = split_date[1]%>


<% pre_month = dates[10].prev_month.to_s%>

<% nxt_month = dates[10].next_month.to_s%>

<% lst_mont = pre_month.split("-")%>

<% lst_mont_date = lst_mont[1] %>


<% nxt_mont = nxt_month.split("-")%>

<% nxt_mont_date = nxt_mont[1] %>



<% case month %>
<% when "01"%>
    <% month = "January"%>
<% when "02"%>
    <% month = "Febuary"%>
<% when "03"%>
    <% month = "March"%>
<% when "04"%>
    <% month = "April"%>
<% when "05"%>
    <% month = "May"%>
<% when "06"%>
    <% month = "June"%>
<% when "07"%>
    <% month = "July"%>
<% when "08"%>
    <% month = "August"%>
<% when "09"%>
    <% month = "September"%>
<% when "10"%>
    <% month = "October"%>
<% when "11"%>
    <% month = "November"%>
<% when "12"%>
    <% month = "December"%>
<% else %>
<% end %>


    <div style="text-align: center;">

      <div class="text-8xl mr-28" style="font-family: 'Ms Madi', cursive; align ">
        <%= month %>
      </div>


        <div class="text-2xl mr-28 ">
        <%= year %>
      </div>

    </div>

<div> 
    
    <div class="grid grid-cols-7 w-2/3 font-bold">
      </*monday */>
    <div>
      <svg width="95" height="75" viewBox="0 0 95 75" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_785_5608)">
        <rect x="21" y="21" width="52.3837" height="32.189" rx="16.0945" fill="#2B54E7"/>
        </g>
        <path d="M43.3916 43.16C42.8716 43.16 42.5182 43.0267 42.3316 42.76C42.1449 42.48 42.0516 42.1333 42.0516 41.72C42.0516 41.3467 42.1049 40.9267 42.2116 40.46C42.3316 39.8867 42.5449 39.2067 42.8516 38.42C43.1716 37.6333 43.5249 36.8133 43.9116 35.96C44.3116 35.0933 44.7049 34.2667 45.0916 33.48C45.4916 32.6933 45.8382 32.02 46.1316 31.46C45.9582 31.62 45.7782 31.7867 45.5916 31.96C45.4182 32.1333 45.2382 32.3267 45.0516 32.54C44.2782 33.4067 43.5716 34.2333 42.9316 35.02C42.3049 35.7933 41.6982 36.56 41.1116 37.32C40.5382 38.0667 39.9449 38.8333 39.3316 39.62C38.9982 40.06 38.7316 40.3933 38.5316 40.62C38.3449 40.8333 38.1716 40.98 38.0116 41.06C37.8649 41.1267 37.6782 41.16 37.4516 41.16C37.1182 41.16 36.7382 41.06 36.3116 40.86C36.4982 40.6333 36.6249 40.1467 36.6916 39.4C36.7716 38.6533 36.8116 37.8 36.8116 36.84C36.8116 35.8667 36.7782 34.86 36.7116 33.82C36.6449 32.78 36.5449 31.86 36.4116 31.06C36.3316 31.1933 36.1849 31.4867 35.9716 31.94C35.7716 32.3933 35.5249 32.9533 35.2316 33.62C34.9516 34.2733 34.6516 34.9867 34.3316 35.76C34.0116 36.52 33.6982 37.2867 33.3916 38.06C33.0982 38.82 32.8316 39.54 32.5916 40.22C32.3649 40.9 32.1916 41.4867 32.0716 41.98C31.9516 42.4733 31.9116 42.8133 31.9516 43H30.1116C30.4049 42.2533 30.7382 41.4267 31.1116 40.52C31.4982 39.6 31.8982 38.66 32.3116 37.7C32.7249 36.74 33.1316 35.8067 33.5316 34.9C33.9449 33.9933 34.3182 33.1667 34.6516 32.42C34.9982 31.66 35.2849 31.0333 35.5116 30.54C35.7382 30.0467 35.8849 29.74 35.9516 29.62C35.3649 29.6067 34.7649 29.6667 34.1516 29.8C33.5382 29.92 32.9649 30.0933 32.4316 30.32C31.8982 30.5467 31.4449 30.8067 31.0716 31.1C30.7116 31.3933 30.4782 31.7 30.3716 32.02C30.3582 32.06 30.3316 32.08 30.2916 32.08C30.1849 32.08 30.1316 31.9933 30.1316 31.82C30.1316 31.7933 30.1316 31.7667 30.1316 31.74C30.1449 31.7 30.1582 31.66 30.1716 31.62C30.2916 31.2733 30.4382 30.9667 30.6116 30.7C30.7982 30.4333 30.9782 30.2067 31.1516 30.02C31.5916 29.5667 32.0849 29.2933 32.6316 29.2C33.1782 29.0933 33.7582 29.04 34.3716 29.04H36.3116C36.6049 29.04 36.8916 29.04 37.1716 29.04C37.4516 29.04 37.6982 29.1133 37.9116 29.26C38.1249 29.3933 38.2649 29.66 38.3316 30.06C38.3849 30.34 38.4316 30.7667 38.4716 31.34C38.5249 31.9 38.5649 32.5267 38.5916 33.22C38.6316 33.9133 38.6649 34.6 38.6916 35.28C38.7182 35.96 38.7382 36.5467 38.7516 37.04C38.7516 37.0667 38.7516 37.1467 38.7516 37.28C38.7649 37.4 38.7716 37.5533 38.7716 37.74C38.7716 37.9133 38.7649 38.1133 38.7516 38.34C38.7516 38.5533 38.7382 38.76 38.7116 38.96C38.9916 38.6133 39.3382 38.1867 39.7516 37.68C40.1782 37.16 40.6382 36.6 41.1316 36C41.6249 35.3867 42.1249 34.7733 42.6316 34.16C43.1382 33.5467 43.6249 32.96 44.0916 32.4C44.5582 31.84 44.9649 31.3533 45.3116 30.94C45.6716 30.5133 45.9382 30.1933 46.1116 29.98C46.4182 29.6333 46.8049 29.3933 47.2716 29.26C47.7382 29.1133 48.2049 29.04 48.6716 29.04H49.9116C49.6316 29.2533 49.3249 29.6133 48.9916 30.12C48.6582 30.6267 48.3316 31.1733 48.0116 31.76C47.7049 32.3467 47.4316 32.88 47.1916 33.36C46.8449 34.08 46.4916 34.86 46.1316 35.7C45.7716 36.54 45.4516 37.3733 45.1716 38.2C44.8916 39.0267 44.6849 39.7933 44.5516 40.5C44.5116 40.7133 44.4916 40.94 44.4916 41.18C44.4916 41.4733 44.5382 41.7333 44.6316 41.96C44.7382 42.1733 44.9249 42.28 45.1916 42.28C45.4049 42.28 45.6649 42.1933 45.9716 42.02H45.9916C46.0182 42.02 46.0382 42.0467 46.0516 42.1C46.0649 42.14 46.0582 42.1733 46.0316 42.2C45.7782 42.4667 45.3916 42.6933 44.8716 42.88C44.3516 43.0667 43.8582 43.16 43.3916 43.16ZM48.9131 43.16C48.2998 43.16 47.7665 42.9667 47.3131 42.58C46.8731 42.1933 46.6531 41.5733 46.6531 40.72C46.6531 40.0933 46.7665 39.44 46.9931 38.76C47.2198 38.08 47.5398 37.4467 47.9531 36.86C48.3798 36.2733 48.8931 35.7933 49.4931 35.42C50.0931 35.0467 50.7665 34.86 51.5131 34.86C52.1265 34.86 52.5998 34.98 52.9331 35.22C53.2798 35.4467 53.5265 35.7533 53.6731 36.14C53.8198 36.5267 53.8931 36.94 53.8931 37.38C53.8931 37.7133 53.8531 38.0533 53.7731 38.4C53.7065 38.7333 53.6065 39.0667 53.4731 39.4C53.6998 39.6667 53.9865 39.8 54.3331 39.8C54.7065 39.8 55.0531 39.66 55.3731 39.38C55.5598 39.22 55.7265 39.02 55.8731 38.78C56.0331 38.5267 56.1731 38.2933 56.2931 38.08C56.3331 38 56.3798 37.96 56.4331 37.96C56.4998 37.96 56.5331 38.0533 56.5331 38.24C56.5331 38.36 56.5131 38.5 56.4731 38.66C56.4465 38.82 56.3798 38.98 56.2731 39.14C56.0731 39.4867 55.8665 39.7533 55.6531 39.94C55.4398 40.1133 55.1998 40.2533 54.9331 40.36C54.7331 40.44 54.5198 40.48 54.2931 40.48C53.8798 40.48 53.5065 40.3533 53.1731 40.1C53.0665 40.3267 52.9331 40.56 52.7731 40.8C52.3865 41.4533 51.8865 42.0133 51.2731 42.48C50.6598 42.9333 49.8731 43.16 48.9131 43.16ZM49.6731 42.4C49.9798 42.4 50.2731 42.3 50.5531 42.1C50.8465 41.8867 51.1131 41.6267 51.3531 41.32C51.5931 41.0133 51.7998 40.6933 51.9731 40.36C52.1598 40.0267 52.3131 39.7333 52.4331 39.48C51.9798 39.0933 51.7531 38.6067 51.7531 38.02C51.7531 37.6333 51.8598 37.3333 52.0731 37.12C52.2865 36.9067 52.5798 36.8133 52.9531 36.84C52.9398 36.5333 52.8598 36.28 52.7131 36.08C52.5665 35.88 52.3265 35.78 51.9931 35.78C51.6865 35.78 51.3931 35.8733 51.1131 36.06C50.8465 36.2467 50.5931 36.4867 50.3531 36.78C50.1265 37.06 49.9198 37.3533 49.7331 37.66C49.5598 37.9533 49.4131 38.22 49.2931 38.46C49.1198 38.8067 48.9598 39.2267 48.8131 39.72C48.6665 40.2133 48.5931 40.6733 48.5931 41.1C48.5931 41.4733 48.6665 41.7867 48.8131 42.04C48.9731 42.28 49.2598 42.4 49.6731 42.4ZM60.9375 43.12C60.4842 43.12 60.1708 42.9867 59.9975 42.72C59.8375 42.44 59.7575 42.12 59.7575 41.76C59.7575 41.32 59.8442 40.7933 60.0175 40.18C60.1908 39.5533 60.3908 38.9267 60.6175 38.3C60.8575 37.66 61.0708 37.0933 61.2575 36.6C61.3108 36.48 61.3375 36.3533 61.3375 36.22C61.3375 36.0733 61.2908 35.9667 61.1975 35.9C61.1042 35.8333 60.9842 35.8 60.8375 35.8C60.6242 35.8 60.3842 35.8667 60.1175 36C59.7042 36.2133 59.3108 36.5533 58.9375 37.02C58.5642 37.4867 58.2642 37.9733 58.0375 38.48C57.7842 39.0533 57.5575 39.6267 57.3575 40.2C57.1575 40.7733 56.9975 41.24 56.8775 41.6C56.7975 41.8267 56.7242 42.06 56.6575 42.3C56.5908 42.54 56.5242 42.7733 56.4575 43H54.5175C54.5175 43 54.5642 42.8333 54.6575 42.5C54.7375 42.1667 54.8442 41.8333 54.9775 41.5C55.2042 40.9133 55.4308 40.3267 55.6575 39.74C55.8975 39.1533 56.1042 38.6333 56.2775 38.18C56.3308 38.0467 56.4108 37.8 56.5175 37.44C56.6375 37.0667 56.7442 36.68 56.8375 36.28C56.9442 35.88 56.9975 35.5533 56.9975 35.3C56.9975 35.1533 56.9775 35.0533 56.9375 35C57.0575 35 57.1908 35 57.3375 35C57.4975 34.9867 57.6442 34.98 57.7775 34.98C57.9642 34.98 58.1375 34.9867 58.2975 35C58.4708 35.0133 58.5842 35.0467 58.6375 35.1C58.7975 35.22 58.8775 35.3933 58.8775 35.62C58.8775 35.78 58.8442 35.94 58.7775 36.1C58.7242 36.26 58.6842 36.3933 58.6575 36.5C58.8442 36.3267 59.0375 36.16 59.2375 36C59.4375 35.84 59.7442 35.6333 60.1575 35.38C60.3975 35.2333 60.6975 35.1133 61.0575 35.02C61.4175 34.9267 61.7442 34.88 62.0375 34.88C62.7975 34.88 63.1775 35.2333 63.1775 35.94C63.1775 36.06 63.1642 36.1933 63.1375 36.34C63.1242 36.4867 63.0842 36.6467 63.0175 36.82C62.9508 37.0333 62.8442 37.3267 62.6975 37.7C62.5508 38.0733 62.3975 38.4733 62.2375 38.9C62.0908 39.3133 61.9642 39.7067 61.8575 40.08C61.7508 40.4533 61.6975 40.7533 61.6975 40.98C61.6975 41.3 61.8175 41.46 62.0575 41.46C62.2708 41.46 62.5375 41.3267 62.8575 41.06C63.1642 40.8067 63.4308 40.5333 63.6575 40.24C63.9375 39.8933 64.1908 39.5267 64.4175 39.14C64.6575 38.74 64.8642 38.3733 65.0375 38.04C65.1042 37.9333 65.1508 37.88 65.1775 37.88C65.2575 37.88 65.2975 37.9933 65.2975 38.22C65.2975 38.3267 65.2775 38.4533 65.2375 38.6C65.2108 38.7333 65.1642 38.86 65.0975 38.98C64.9108 39.3 64.6908 39.6533 64.4375 40.04C64.1842 40.4267 63.9242 40.8 63.6575 41.16C63.4708 41.4133 63.2242 41.6933 62.9175 42C62.6108 42.3067 62.2842 42.5733 61.9375 42.8C61.5908 43.0133 61.2575 43.12 60.9375 43.12Z" fill="white"/>
        <defs>
        <filter id="filter0_dd_785_5608" x="0" y="0" width="94.3828" height="74.189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5608"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_785_5608" result="effect2_dropShadow_785_5608"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5608" result="shape"/>
        </filter>
        </defs>
        </svg>

    </div>

            </*Tuesday */>
    <div>
      <svg width="95" height="75" viewBox="0 0 95 75" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_dd_785_5608)">
      <rect x="21" y="21" width="52.3837" height="32.189" rx="16.0945" fill="#2B54E7"/>
      </g>
      <path d="M38.6673 43.44C38.2273 43.44 37.934 43.2867 37.7873 42.98C37.6407 42.66 37.5673 42.3067 37.5673 41.92C37.5673 41.6533 37.5873 41.3933 37.6273 41.14C37.6673 40.8733 37.7073 40.6533 37.7473 40.48C37.854 39.9733 38.0273 39.3733 38.2673 38.68C38.5073 37.9733 38.7807 37.2333 39.0873 36.46C39.4073 35.6733 39.7407 34.9 40.0873 34.14C40.434 33.3667 40.7673 32.6467 41.0873 31.98C41.4207 31.3 41.714 30.72 41.9673 30.24C41.6607 30.2533 41.3073 30.2533 40.9073 30.24C40.5073 30.2133 40.094 30.2 39.6673 30.2C38.934 30.2 38.2073 30.26 37.4873 30.38C36.7807 30.4867 36.2007 30.7467 35.7473 31.16C35.534 31.36 35.3807 31.5733 35.2873 31.8C35.194 32.0267 35.1473 32.2533 35.1473 32.48C35.1473 32.7333 35.1873 32.98 35.2673 33.22C35.2807 33.2467 35.2873 33.28 35.2873 33.32C35.2873 33.4533 35.2207 33.52 35.0873 33.52C35.0073 33.52 34.9473 33.4867 34.9073 33.42C34.774 33.2067 34.674 32.9933 34.6073 32.78C34.554 32.5533 34.5273 32.3333 34.5273 32.12C34.5273 31.7467 34.594 31.3933 34.7273 31.06C34.8607 30.7267 35.0207 30.4533 35.2073 30.24C35.674 29.6933 36.3073 29.3333 37.1073 29.16C37.9073 28.9733 38.7407 28.88 39.6073 28.88C40.274 28.88 40.9207 28.9067 41.5473 28.96C42.1873 29.0133 42.754 29.0533 43.2473 29.08C43.714 29.1067 44.294 29.1533 44.9873 29.22C45.6807 29.2733 46.354 29.3 47.0073 29.3C47.594 29.3 48.1207 29.26 48.5873 29.18C49.054 29.1 49.394 28.9533 49.6073 28.74C49.6473 28.82 49.6673 28.9133 49.6673 29.02C49.6673 29.3 49.5073 29.5733 49.1873 29.84C48.8673 30.1067 48.434 30.2867 47.8873 30.38C47.714 30.4067 47.514 30.4267 47.2873 30.44C47.074 30.4533 46.8473 30.46 46.6073 30.46C46.2073 30.46 45.8073 30.4533 45.4073 30.44C45.0073 30.4133 44.654 30.3867 44.3473 30.36C44.0407 30.3333 43.834 30.3267 43.7273 30.34C43.6473 30.46 43.5207 30.68 43.3473 31C43.1873 31.32 43.014 31.6667 42.8273 32.04C42.6407 32.4133 42.474 32.7533 42.3273 33.06C42.074 33.5933 41.8073 34.1933 41.5273 34.86C41.2473 35.5267 40.9807 36.2 40.7273 36.88C40.474 37.56 40.254 38.2067 40.0673 38.82C39.894 39.4333 39.7807 39.96 39.7273 40.4C39.714 40.44 39.7073 40.4867 39.7073 40.54C39.7073 40.58 39.7073 40.62 39.7073 40.66C39.7073 40.9133 39.754 41.1333 39.8473 41.32C39.954 41.4933 40.114 41.58 40.3273 41.58C40.514 41.58 40.7407 41.48 41.0073 41.28C41.274 41.08 41.5807 40.7467 41.9273 40.28C41.994 40.2 42.054 40.16 42.1073 40.16C42.1873 40.16 42.2273 40.2267 42.2273 40.36C42.2273 40.4533 42.194 40.58 42.1273 40.74C42.074 40.9 41.974 41.0867 41.8273 41.3C41.7073 41.4733 41.514 41.7067 41.2473 42C40.9807 42.28 40.7207 42.52 40.4673 42.72C40.2407 42.9067 39.9607 43.0733 39.6273 43.22C39.294 43.3667 38.974 43.44 38.6673 43.44ZM43.9803 43.12C43.6336 43.12 43.347 42.96 43.1203 42.64C42.907 42.3067 42.827 41.7933 42.8803 41.1C42.907 40.8067 42.9736 40.4333 43.0803 39.98C43.187 39.5267 43.327 39.04 43.5003 38.52C43.687 37.9867 43.8936 37.4733 44.1203 36.98C44.347 36.4733 44.5936 36.0267 44.8603 35.64C45.007 35.44 45.1536 35.32 45.3003 35.28C45.4603 35.2267 45.747 35.2 46.1603 35.2H47.1203C46.8936 35.52 46.6536 35.92 46.4003 36.4C46.147 36.88 45.9136 37.36 45.7003 37.84C45.487 38.3067 45.3203 38.7 45.2003 39.02C45.1736 39.1133 45.1203 39.28 45.0403 39.52C44.9603 39.7467 44.887 40 44.8203 40.28C44.7536 40.56 44.7203 40.82 44.7203 41.06C44.7203 41.2733 44.7603 41.4533 44.8403 41.6C44.9203 41.7467 45.067 41.82 45.2803 41.82C45.5336 41.8067 45.807 41.6467 46.1003 41.34C46.3936 41.0333 46.687 40.64 46.9803 40.16C47.2736 39.68 47.5603 39.18 47.8403 38.66C48.1336 38.1267 48.3936 37.6333 48.6203 37.18C48.8603 36.7133 49.0603 36.3533 49.2203 36.1C49.4203 35.7933 49.6336 35.5267 49.8603 35.3C50.087 35.06 50.347 34.94 50.6403 34.94C50.747 34.94 50.887 34.9467 51.0603 34.96C51.247 34.96 51.427 34.96 51.6003 34.96C51.787 34.96 51.9136 34.9533 51.9803 34.94C51.9003 34.9933 51.807 35.1 51.7003 35.26C51.5936 35.42 51.487 35.5867 51.3803 35.76C51.287 35.92 51.2136 36.0533 51.1603 36.16C50.8136 36.8533 50.4736 37.5533 50.1403 38.26C49.8203 38.9533 49.5803 39.6133 49.4203 40.24C49.3536 40.48 49.3203 40.6867 49.3203 40.86C49.3203 41.26 49.4536 41.46 49.7203 41.46C49.907 41.46 50.1736 41.3267 50.5203 41.06C50.787 40.8467 51.047 40.5733 51.3003 40.24C51.5803 39.8933 51.8403 39.52 52.0803 39.12C52.3203 38.72 52.527 38.3533 52.7003 38.02C52.7536 37.9267 52.8003 37.88 52.8403 37.88C52.9203 37.88 52.9603 37.9867 52.9603 38.2C52.9603 38.3067 52.9403 38.4333 52.9003 38.58C52.8736 38.7133 52.8203 38.8467 52.7403 38.98C52.5536 39.3 52.3336 39.6533 52.0803 40.04C51.827 40.4133 51.567 40.7867 51.3003 41.16C51.1136 41.4 50.867 41.6733 50.5603 41.98C50.2536 42.2867 49.927 42.5533 49.5803 42.78C49.247 43.0067 48.9203 43.12 48.6003 43.12C48.4136 43.12 48.2403 43.08 48.0803 43C47.9203 42.9333 47.787 42.7933 47.6803 42.58C47.547 42.3 47.4803 41.92 47.4803 41.44C47.4803 41.2933 47.487 41.14 47.5003 40.98C47.5136 40.8067 47.5336 40.6333 47.5603 40.46C47.3603 40.74 47.147 41 46.9203 41.24C46.707 41.48 46.487 41.72 46.2603 41.96C45.7536 42.4667 45.3203 42.7867 44.9603 42.92C44.6136 43.0533 44.287 43.12 43.9803 43.12ZM56.6447 42.72C56.0314 43.04 55.3847 43.2 54.7047 43.2C54.1314 43.2 53.598 43.06 53.1047 42.78C52.6114 42.5 52.278 42.0533 52.1047 41.44C52.0247 41.16 51.9847 40.8667 51.9847 40.56C51.9847 40.0533 52.0714 39.5333 52.2447 39C52.4314 38.4533 52.6714 37.9533 52.9647 37.5C53.418 36.7933 53.9914 36.2067 54.6847 35.74C55.378 35.2733 56.1447 35.04 56.9847 35.04C57.6114 35.04 58.098 35.2 58.4447 35.52C58.7914 35.84 58.9647 36.2133 58.9647 36.64C58.9647 37.1467 58.7914 37.5933 58.4447 37.98C58.1114 38.3533 57.6714 38.64 57.1247 38.84C56.858 38.9333 56.5714 39.0067 56.2647 39.06C55.9714 39.1 55.6914 39.12 55.4247 39.12C54.878 39.12 54.458 39.0467 54.1647 38.9C53.9114 39.5533 53.7847 40.1533 53.7847 40.7C53.7847 41.1933 53.898 41.6 54.1247 41.92C54.3514 42.2267 54.7114 42.38 55.2047 42.38C55.618 42.38 56.0247 42.2667 56.4247 42.04C56.838 41.8133 57.218 41.5333 57.5647 41.2C57.9247 40.8667 58.2247 40.5467 58.4647 40.24C58.6514 40.0133 58.8114 39.8 58.9447 39.6C59.078 39.4 59.218 39.1733 59.3647 38.92C59.5114 38.6533 59.6847 38.3267 59.8847 37.94C59.938 37.8467 59.9847 37.8 60.0247 37.8C60.1047 37.8 60.1447 37.9067 60.1447 38.12C60.1447 38.24 60.1247 38.3733 60.0847 38.52C60.058 38.6533 60.0047 38.7933 59.9247 38.94C59.738 39.2733 59.5114 39.64 59.2447 40.04C58.9914 40.4267 58.7314 40.8 58.4647 41.16C58.2247 41.48 57.9514 41.7733 57.6447 42.04C57.338 42.3067 57.0047 42.5333 56.6447 42.72ZM54.8247 38.46C54.8914 38.5 54.9647 38.5267 55.0447 38.54C55.1247 38.5533 55.2047 38.56 55.2847 38.56C55.5514 38.56 55.818 38.5 56.0847 38.38C56.3514 38.2467 56.578 38.1133 56.7647 37.98C57.0714 37.7667 57.3314 37.5133 57.5447 37.22C57.758 36.9267 57.878 36.5933 57.9047 36.22C57.918 36.06 57.878 35.9267 57.7847 35.82C57.7047 35.7 57.558 35.64 57.3447 35.64C57.238 35.64 57.1047 35.66 56.9447 35.7C56.7314 35.7533 56.518 35.8533 56.3047 36C56.0914 36.1467 55.8847 36.32 55.6847 36.52C55.618 36.5867 55.498 36.72 55.3247 36.92C55.1647 37.1067 55.0114 37.32 54.8647 37.56C54.718 37.7867 54.6447 37.9867 54.6447 38.16C54.6447 38.3067 54.7047 38.4067 54.8247 38.46Z" fill="white"/>
      <defs>
      <filter id="filter0_dd_785_5608" x="0" y="0" width="94.3828" height="74.189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5608"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="-4" dy="-4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_785_5608" result="effect2_dropShadow_785_5608"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5608" result="shape"/>
      </filter>
      </defs>
      </svg>

    </div>


        </*Wednesday */>
        <div>
          <svg width="95" height="75" viewBox="0 0 95 75" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_dd_785_5608)">
          <rect x="21" y="21" width="52.3837" height="32.189" rx="16.0945" fill="#2B54E7"/>
          </g>
          <path d="M32.0778 43.08C31.7178 43.0667 31.3711 42.9733 31.0378 42.8C30.7178 42.6267 30.4511 42.3267 30.2378 41.9C30.0245 41.4733 29.9178 40.8867 29.9178 40.14C29.9178 40.0467 29.9178 39.9533 29.9178 39.86C29.9178 39.7533 29.9245 39.6533 29.9378 39.56C29.9911 38.8933 30.1511 38.1533 30.4178 37.34C30.6978 36.5133 31.0578 35.6733 31.4978 34.82C31.9378 33.9667 32.4378 33.16 32.9978 32.4C33.5578 31.6267 34.1445 30.9667 34.7578 30.42C34.9045 30.2867 35.0511 30.18 35.1978 30.1C35.3445 30.0067 35.4978 29.9333 35.6578 29.88C35.1511 29.9733 34.6178 30.0533 34.0578 30.12C33.5111 30.1867 32.9845 30.2467 32.4778 30.3C31.9845 30.3533 31.5645 30.42 31.2178 30.5C30.5111 30.66 29.9711 30.9667 29.5978 31.42C29.2378 31.8733 29.0645 32.42 29.0778 33.06C28.8645 32.8333 28.7045 32.6 28.5978 32.36C28.5045 32.12 28.4578 31.8933 28.4578 31.68C28.4578 31.4133 28.5111 31.16 28.6178 30.92C28.7378 30.6667 28.8778 30.4533 29.0378 30.28C29.3711 29.8933 29.7911 29.6133 30.2978 29.44C30.8178 29.2667 31.3578 29.16 31.9178 29.12C32.4911 29.0667 33.0311 29.04 33.5378 29.04H37.6378C37.7178 29.04 37.7178 29.0933 37.6378 29.2C37.5711 29.3067 37.4711 29.4267 37.3378 29.56C37.2045 29.6933 37.0778 29.8 36.9578 29.88C36.5978 30.0933 36.1845 30.4867 35.7178 31.06C35.2511 31.62 34.7778 32.3067 34.2978 33.12C33.8311 33.92 33.4045 34.8067 33.0178 35.78C32.8845 36.1 32.7378 36.5 32.5778 36.98C32.4311 37.46 32.2978 37.9667 32.1778 38.5C32.0711 39.02 32.0178 39.5133 32.0178 39.98C32.0178 40.4733 32.1111 40.8933 32.2978 41.24C32.4845 41.5733 32.8111 41.74 33.2778 41.74C33.6378 41.74 34.0645 41.5267 34.5578 41.1C35.0511 40.6733 35.5711 40.12 36.1178 39.44C36.6645 38.7467 37.1978 38.02 37.7178 37.26C38.0778 36.7133 38.3911 36.14 38.6578 35.54C38.9245 34.94 39.1778 34.3467 39.4178 33.76C39.6578 33.1733 39.9111 32.6267 40.1778 32.12C40.3378 31.8133 40.5711 31.5067 40.8778 31.2C41.1845 30.88 41.5245 30.62 41.8978 30.42C42.2845 30.2067 42.6778 30.1 43.0778 30.1C43.1311 30.1 43.1778 30.1 43.2178 30.1C43.2711 30.1 43.3245 30.1067 43.3778 30.12C43.4711 30.1333 43.5178 30.1533 43.5178 30.18C43.5311 30.2067 43.5645 30.2467 43.6178 30.3C43.1778 30.9 42.7111 31.6933 42.2178 32.68C41.7378 33.6667 41.3511 34.7733 41.0578 36C40.9245 36.5467 40.8245 37.0667 40.7578 37.56C40.7045 38.04 40.6778 38.4867 40.6778 38.9C40.6778 39.78 40.8245 40.4733 41.1178 40.98C41.4111 41.4867 41.8378 41.74 42.3978 41.74C42.9311 41.74 43.4378 41.5533 43.9178 41.18C44.4111 40.7933 44.8645 40.2867 45.2778 39.66C45.7045 39.0333 46.0911 38.3533 46.4378 37.62C46.7845 36.8867 47.0845 36.1733 47.3378 35.48C47.4711 35.1333 47.6178 34.7067 47.7778 34.2C47.9378 33.6933 48.0778 33.1667 48.1978 32.62C48.3178 32.06 48.3778 31.5467 48.3778 31.08C48.3778 30.6267 48.2978 30.2533 48.1378 29.96C47.9778 29.6533 47.6978 29.5 47.2978 29.5C47.0845 29.5 46.8445 29.5467 46.5778 29.64C46.6178 29.4 46.7911 29.2067 47.0978 29.06C47.4045 28.9 47.7511 28.82 48.1378 28.82C48.4711 28.82 48.7978 28.8867 49.1178 29.02C49.4378 29.1533 49.7111 29.3667 49.9378 29.66C50.1645 29.9533 50.2911 30.3533 50.3178 30.86C50.3578 31.5533 50.2711 32.3133 50.0578 33.14C49.8578 33.9667 49.5578 34.8067 49.1578 35.66C48.7711 36.5133 48.3111 37.34 47.7778 38.14C47.2578 38.94 46.6978 39.6667 46.0978 40.32C45.7378 40.7067 45.2978 41.1 44.7778 41.5C44.2711 41.9 43.7178 42.2333 43.1178 42.5C42.5178 42.7533 41.8978 42.88 41.2578 42.88C41.1645 42.88 41.0711 42.88 40.9778 42.88C40.8845 42.8667 40.7845 42.8533 40.6778 42.84C39.9845 42.7333 39.4911 42.34 39.1978 41.66C38.9045 40.9667 38.7578 40.1333 38.7578 39.16C38.7578 38.6667 38.7911 38.1533 38.8578 37.62C38.9245 37.0867 39.0111 36.5467 39.1178 36C38.7178 36.7867 38.2578 37.6267 37.7378 38.52C37.2178 39.4 36.6445 40.2 36.0178 40.92C35.4978 41.52 34.9978 41.9733 34.5178 42.28C34.0511 42.5867 33.6111 42.8 33.1978 42.92C32.7845 43.0267 32.4111 43.08 32.0778 43.08ZM53.4025 42.72C52.7892 43.04 52.1425 43.2 51.4625 43.2C50.8892 43.2 50.3558 43.06 49.8625 42.78C49.3692 42.5 49.0358 42.0533 48.8625 41.44C48.7825 41.16 48.7425 40.8667 48.7425 40.56C48.7425 40.0533 48.8292 39.5333 49.0025 39C49.1892 38.4533 49.4292 37.9533 49.7225 37.5C50.1758 36.7933 50.7492 36.2067 51.4425 35.74C52.1358 35.2733 52.9025 35.04 53.7425 35.04C54.3692 35.04 54.8558 35.2 55.2025 35.52C55.5492 35.84 55.7225 36.2133 55.7225 36.64C55.7225 37.1467 55.5492 37.5933 55.2025 37.98C54.8692 38.3533 54.4292 38.64 53.8825 38.84C53.6158 38.9333 53.3292 39.0067 53.0225 39.06C52.7292 39.1 52.4492 39.12 52.1825 39.12C51.6358 39.12 51.2158 39.0467 50.9225 38.9C50.6692 39.5533 50.5425 40.1533 50.5425 40.7C50.5425 41.1933 50.6558 41.6 50.8825 41.92C51.1092 42.2267 51.4692 42.38 51.9625 42.38C52.3758 42.38 52.7825 42.2667 53.1825 42.04C53.5958 41.8133 53.9758 41.5333 54.3225 41.2C54.6825 40.8667 54.9825 40.5467 55.2225 40.24C55.4092 40.0133 55.5692 39.8 55.7025 39.6C55.8358 39.4 55.9758 39.1733 56.1225 38.92C56.2692 38.6533 56.4425 38.3267 56.6425 37.94C56.6958 37.8467 56.7425 37.8 56.7825 37.8C56.8625 37.8 56.9025 37.9067 56.9025 38.12C56.9025 38.24 56.8825 38.3733 56.8425 38.52C56.8158 38.6533 56.7625 38.7933 56.6825 38.94C56.4958 39.2733 56.2692 39.64 56.0025 40.04C55.7492 40.4267 55.4892 40.8 55.2225 41.16C54.9825 41.48 54.7092 41.7733 54.4025 42.04C54.0958 42.3067 53.7625 42.5333 53.4025 42.72ZM51.5825 38.46C51.6492 38.5 51.7225 38.5267 51.8025 38.54C51.8825 38.5533 51.9625 38.56 52.0425 38.56C52.3092 38.56 52.5758 38.5 52.8425 38.38C53.1092 38.2467 53.3358 38.1133 53.5225 37.98C53.8292 37.7667 54.0892 37.5133 54.3025 37.22C54.5158 36.9267 54.6358 36.5933 54.6625 36.22C54.6758 36.06 54.6358 35.9267 54.5425 35.82C54.4625 35.7 54.3158 35.64 54.1025 35.64C53.9958 35.64 53.8625 35.66 53.7025 35.7C53.4892 35.7533 53.2758 35.8533 53.0625 36C52.8492 36.1467 52.6425 36.32 52.4425 36.52C52.3758 36.5867 52.2558 36.72 52.0825 36.92C51.9225 37.1067 51.7692 37.32 51.6225 37.56C51.4758 37.7867 51.4025 37.9867 51.4025 38.16C51.4025 38.3067 51.4625 38.4067 51.5825 38.46ZM62.0705 43.12C61.6705 43.12 61.3905 42.9733 61.2305 42.68C61.0838 42.3733 61.0105 41.9933 61.0105 41.54C61.0105 41.3267 61.0238 41.1133 61.0505 40.9C61.0771 40.6733 61.1105 40.4467 61.1505 40.22C61.1771 40.02 61.2305 39.78 61.3105 39.5C61.3905 39.2067 61.4838 38.8933 61.5905 38.56C61.3371 39.0667 61.0438 39.5867 60.7105 40.12C60.3771 40.64 60.0105 41.1267 59.6105 41.58C59.2238 42.02 58.8171 42.38 58.3905 42.66C57.9771 42.9267 57.5571 43.06 57.1305 43.06C56.7571 43.06 56.4371 42.9267 56.1705 42.66C55.9171 42.38 55.7905 41.9 55.7905 41.22C55.7905 40.5267 55.9105 39.8133 56.1505 39.08C56.3905 38.3467 56.7238 37.6667 57.1505 37.04C57.5905 36.4 58.1038 35.8867 58.6905 35.5C59.2905 35.1133 59.9438 34.92 60.6505 34.92C60.9438 34.92 61.2705 34.98 61.6305 35.1C61.9905 35.22 62.2638 35.4533 62.4505 35.8C62.5171 35.6933 62.5705 35.5867 62.6105 35.48C62.6505 35.3733 62.6905 35.28 62.7305 35.2C63.0505 34.4933 63.3238 33.8267 63.5505 33.2C63.7771 32.5733 63.9771 32.0867 64.1505 31.74C64.3771 31.2867 64.5571 30.9467 64.6905 30.72C64.8238 30.48 64.9438 30.3133 65.0505 30.22C65.1705 30.1267 65.3038 30.06 65.4505 30.02C65.5705 29.9933 65.7038 29.9733 65.8505 29.96C65.9971 29.9467 66.1505 29.94 66.3105 29.94C66.4705 29.94 66.6505 29.94 66.8505 29.94C67.0638 29.94 67.1971 29.9333 67.2505 29.92C67.0238 30.08 66.7571 30.4067 66.4505 30.9C66.1438 31.3933 65.8238 31.9867 65.4905 32.68C65.1571 33.3733 64.8305 34.1133 64.5105 34.9C64.2038 35.6733 63.9171 36.4467 63.6505 37.22C63.3971 37.98 63.1905 38.6733 63.0305 39.3C62.8838 39.9267 62.8105 40.4333 62.8105 40.82C62.8105 41.2467 62.9305 41.46 63.1705 41.46C63.3305 41.46 63.5171 41.38 63.7305 41.22C63.9571 41.06 64.1638 40.88 64.3505 40.68C64.5371 40.48 64.6705 40.3333 64.7505 40.24C65.0171 39.8933 65.2705 39.5267 65.5105 39.14C65.7505 38.74 65.9571 38.3667 66.1305 38.02C66.1971 37.9133 66.2438 37.86 66.2705 37.86C66.3638 37.86 66.4105 37.98 66.4105 38.22C66.4105 38.4733 66.3438 38.7133 66.2105 38.94C66.0238 39.26 65.7971 39.62 65.5305 40.02C65.2771 40.4067 65.0171 40.7867 64.7505 41.16C64.5638 41.4 64.3171 41.6733 64.0105 41.98C63.7171 42.2867 63.3971 42.5533 63.0505 42.78C62.7171 43.0067 62.3905 43.12 62.0705 43.12ZM58.0305 41.38C58.0705 41.3933 58.1305 41.4 58.2105 41.4C58.5838 41.4 59.0171 41.1533 59.5105 40.66C60.0171 40.1533 60.5238 39.4933 61.0305 38.68C61.1371 38.52 61.2638 38.2933 61.4105 38C61.5571 37.7067 61.7105 37.3867 61.8705 37.04C62.0438 36.68 62.2038 36.3467 62.3505 36.04C62.2571 35.9067 62.1371 35.8133 61.9905 35.76C61.8571 35.7067 61.7105 35.68 61.5505 35.68C61.2571 35.68 60.9438 35.76 60.6105 35.92C60.2771 36.0667 59.9971 36.2533 59.7705 36.48C59.4238 36.8267 59.0905 37.2733 58.7705 37.82C58.4638 38.3667 58.2105 38.9067 58.0105 39.44C57.8238 39.9733 57.7305 40.42 57.7305 40.78C57.7305 41.1133 57.8305 41.3133 58.0305 41.38Z" fill="white"/>
          <defs>
          <filter id="filter0_dd_785_5608" x="0" y="0" width="94.3828" height="74.189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="4" dy="4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5608"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="-4" dy="-4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
          <feBlend mode="normal" in2="effect1_dropShadow_785_5608" result="effect2_dropShadow_785_5608"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5608" result="shape"/>
          </filter>
          </defs>
          </svg>

    </div>


        </* Thursday*/>
  <div>
      <svg width="95" height="75" viewBox="0 0 95 75" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_785_5608)">
        <rect x="21" y="21" width="52.3837" height="32.189" rx="16.0945" fill="#2B54E7"/>
        </g>
        <path d="M37.1732 43.44C36.7332 43.44 36.4399 43.2867 36.2932 42.98C36.1465 42.66 36.0732 42.3067 36.0732 41.92C36.0732 41.6533 36.0932 41.3933 36.1332 41.14C36.1732 40.8733 36.2132 40.6533 36.2532 40.48C36.3599 39.9733 36.5332 39.3733 36.7732 38.68C37.0132 37.9733 37.2865 37.2333 37.5932 36.46C37.9132 35.6733 38.2465 34.9 38.5932 34.14C38.9399 33.3667 39.2732 32.6467 39.5932 31.98C39.9265 31.3 40.2199 30.72 40.4732 30.24C40.1665 30.2533 39.8132 30.2533 39.4132 30.24C39.0132 30.2133 38.5999 30.2 38.1732 30.2C37.4399 30.2 36.7132 30.26 35.9932 30.38C35.2865 30.4867 34.7065 30.7467 34.2532 31.16C34.0399 31.36 33.8865 31.5733 33.7932 31.8C33.6999 32.0267 33.6532 32.2533 33.6532 32.48C33.6532 32.7333 33.6932 32.98 33.7732 33.22C33.7865 33.2467 33.7932 33.28 33.7932 33.32C33.7932 33.4533 33.7265 33.52 33.5932 33.52C33.5132 33.52 33.4532 33.4867 33.4132 33.42C33.2799 33.2067 33.1799 32.9933 33.1132 32.78C33.0599 32.5533 33.0332 32.3333 33.0332 32.12C33.0332 31.7467 33.0999 31.3933 33.2332 31.06C33.3665 30.7267 33.5265 30.4533 33.7132 30.24C34.1799 29.6933 34.8132 29.3333 35.6132 29.16C36.4132 28.9733 37.2465 28.88 38.1132 28.88C38.7799 28.88 39.4265 28.9067 40.0532 28.96C40.6932 29.0133 41.2599 29.0533 41.7532 29.08C42.2199 29.1067 42.7999 29.1533 43.4932 29.22C44.1865 29.2733 44.8599 29.3 45.5132 29.3C46.0999 29.3 46.6265 29.26 47.0932 29.18C47.5599 29.1 47.8999 28.9533 48.1132 28.74C48.1532 28.82 48.1732 28.9133 48.1732 29.02C48.1732 29.3 48.0132 29.5733 47.6932 29.84C47.3732 30.1067 46.9399 30.2867 46.3932 30.38C46.2199 30.4067 46.0199 30.4267 45.7932 30.44C45.5799 30.4533 45.3532 30.46 45.1132 30.46C44.7132 30.46 44.3132 30.4533 43.9132 30.44C43.5132 30.4133 43.1599 30.3867 42.8532 30.36C42.5465 30.3333 42.3399 30.3267 42.2332 30.34C42.1532 30.46 42.0265 30.68 41.8532 31C41.6932 31.32 41.5199 31.6667 41.3332 32.04C41.1465 32.4133 40.9799 32.7533 40.8332 33.06C40.5799 33.5933 40.3132 34.1933 40.0332 34.86C39.7532 35.5267 39.4865 36.2 39.2332 36.88C38.9799 37.56 38.7599 38.2067 38.5732 38.82C38.3999 39.4333 38.2865 39.96 38.2332 40.4C38.2199 40.44 38.2132 40.4867 38.2132 40.54C38.2132 40.58 38.2132 40.62 38.2132 40.66C38.2132 40.9133 38.2599 41.1333 38.3532 41.32C38.4599 41.4933 38.6199 41.58 38.8332 41.58C39.0199 41.58 39.2465 41.48 39.5132 41.28C39.7799 41.08 40.0865 40.7467 40.4332 40.28C40.4999 40.2 40.5599 40.16 40.6132 40.16C40.6932 40.16 40.7332 40.2267 40.7332 40.36C40.7332 40.4533 40.6999 40.58 40.6332 40.74C40.5799 40.9 40.4799 41.0867 40.3332 41.3C40.2132 41.4733 40.0199 41.7067 39.7532 42C39.4865 42.28 39.2265 42.52 38.9732 42.72C38.7465 42.9067 38.4665 43.0733 38.1332 43.22C37.7999 43.3667 37.4799 43.44 37.1732 43.44ZM48.2529 43.12C47.7996 43.12 47.4862 42.9867 47.3129 42.72C47.1529 42.44 47.0729 42.12 47.0729 41.76C47.0729 41.3733 47.1329 40.9267 47.2529 40.42C47.3862 39.9 47.5462 39.3667 47.7329 38.82C47.9329 38.26 48.1329 37.74 48.3329 37.26C48.3996 37.1 48.4596 36.9267 48.5129 36.74C48.5796 36.5533 48.6129 36.3867 48.6129 36.24C48.6129 35.9733 48.4929 35.84 48.2529 35.84C48.1596 35.84 48.0529 35.86 47.9329 35.9C47.8129 35.9267 47.6729 35.9867 47.5129 36.08C47.2329 36.2133 46.9662 36.4 46.7129 36.64C46.4596 36.8667 46.2862 37.04 46.1929 37.16C46.0196 37.3733 45.8529 37.6133 45.6929 37.88C45.5329 38.1333 45.3929 38.3933 45.2729 38.66C45.0062 39.2333 44.7929 39.78 44.6329 40.3C44.4862 40.8067 44.3462 41.24 44.2129 41.6C44.1329 41.8267 44.0529 42.06 43.9729 42.3C43.8929 42.54 43.8196 42.7733 43.7529 43H41.8129C41.8129 43 41.8596 42.8333 41.9529 42.5C42.0462 42.1667 42.1596 41.8333 42.2929 41.5C42.9062 39.9133 43.4862 38.2933 44.0329 36.64C44.5796 34.9867 45.2396 33.4 46.0129 31.88C46.3596 31.2 46.7329 30.5733 47.1329 30C47.5462 29.4267 47.9796 28.9733 48.4329 28.64C48.8996 28.2933 49.3862 28.12 49.8929 28.12C50.2929 28.12 50.5662 28.2133 50.7129 28.4C50.8729 28.5733 50.9529 28.7933 50.9529 29.06C50.9529 29.3533 50.8929 29.66 50.7729 29.98C50.6529 30.3 50.5329 30.5733 50.4129 30.8C50.1729 31.28 49.8596 31.82 49.4729 32.42C49.0862 33.02 48.6796 33.58 48.2529 34.1C48.1596 34.22 47.9996 34.4133 47.7729 34.68C47.5462 34.9333 47.3129 35.1933 47.0729 35.46C46.8462 35.7267 46.6662 35.9333 46.5329 36.08C46.9729 35.76 47.3529 35.5133 47.6729 35.34C47.9929 35.1667 48.2662 35.0467 48.4929 34.98C48.8796 34.8733 49.1996 34.82 49.4529 34.82C50.2129 34.82 50.5929 35.1533 50.5929 35.82C50.5929 36.1 50.5129 36.4333 50.3529 36.82C50.2729 37.0333 50.1596 37.32 50.0129 37.68C49.8662 38.04 49.7129 38.4267 49.5529 38.84C49.4062 39.24 49.2796 39.6267 49.1729 40C49.0796 40.3733 49.0329 40.68 49.0329 40.92C49.0329 41.0667 49.0529 41.2 49.0929 41.32C49.1462 41.4267 49.2396 41.48 49.3729 41.48C49.4662 41.48 49.5996 41.4333 49.7729 41.34C50.1462 41.1267 50.4929 40.8267 50.8129 40.44C51.1462 40.0533 51.4396 39.64 51.6929 39.2C51.9596 38.76 52.1862 38.36 52.3729 38C52.4129 37.9067 52.4596 37.86 52.5129 37.86C52.5796 37.86 52.6129 37.9733 52.6129 38.2C52.6129 38.3067 52.5996 38.4333 52.5729 38.58C52.5462 38.7133 52.4929 38.8467 52.4129 38.98C52.2262 39.3 51.9796 39.6933 51.6729 40.16C51.3796 40.6267 51.0462 41.0867 50.6729 41.54C50.2996 41.98 49.9062 42.3533 49.4929 42.66C49.0796 42.9667 48.6662 43.12 48.2529 43.12ZM45.9529 35.94C46.6196 35.1533 47.2929 34.3133 47.9729 33.42C48.6662 32.5133 49.2396 31.5933 49.6929 30.66C49.7196 30.5933 49.7796 30.46 49.8729 30.26C49.9662 30.06 50.0529 29.84 50.1329 29.6C50.2129 29.3467 50.2529 29.1333 50.2529 28.96C50.2529 28.7333 50.1662 28.62 49.9929 28.62C49.8196 28.62 49.6129 28.74 49.3729 28.98C49.1462 29.22 48.9129 29.54 48.6729 29.94C48.3662 30.4467 48.0529 31.0333 47.7329 31.7C47.4129 32.3533 47.0996 33.0467 46.7929 33.78C46.4996 34.5133 46.2196 35.2333 45.9529 35.94ZM52.6424 43.12C52.2958 43.12 52.0091 42.96 51.7824 42.64C51.5691 42.3067 51.4891 41.7933 51.5424 41.1C51.5691 40.8067 51.6358 40.4333 51.7424 39.98C51.8491 39.5267 51.9891 39.04 52.1624 38.52C52.3491 37.9867 52.5558 37.4733 52.7824 36.98C53.0091 36.4733 53.2558 36.0267 53.5224 35.64C53.6691 35.44 53.8158 35.32 53.9624 35.28C54.1224 35.2267 54.4091 35.2 54.8224 35.2H55.7824C55.5558 35.52 55.3158 35.92 55.0624 36.4C54.8091 36.88 54.5758 37.36 54.3624 37.84C54.1491 38.3067 53.9824 38.7 53.8624 39.02C53.8358 39.1133 53.7824 39.28 53.7024 39.52C53.6224 39.7467 53.5491 40 53.4824 40.28C53.4158 40.56 53.3824 40.82 53.3824 41.06C53.3824 41.2733 53.4224 41.4533 53.5024 41.6C53.5824 41.7467 53.7291 41.82 53.9424 41.82C54.1958 41.8067 54.4691 41.6467 54.7624 41.34C55.0558 41.0333 55.3491 40.64 55.6424 40.16C55.9358 39.68 56.2224 39.18 56.5024 38.66C56.7958 38.1267 57.0558 37.6333 57.2824 37.18C57.5224 36.7133 57.7224 36.3533 57.8824 36.1C58.0824 35.7933 58.2958 35.5267 58.5224 35.3C58.7491 35.06 59.0091 34.94 59.3024 34.94C59.4091 34.94 59.5491 34.9467 59.7224 34.96C59.9091 34.96 60.0891 34.96 60.2624 34.96C60.4491 34.96 60.5758 34.9533 60.6424 34.94C60.5624 34.9933 60.4691 35.1 60.3624 35.26C60.2558 35.42 60.1491 35.5867 60.0424 35.76C59.9491 35.92 59.8758 36.0533 59.8224 36.16C59.4758 36.8533 59.1358 37.5533 58.8024 38.26C58.4824 38.9533 58.2424 39.6133 58.0824 40.24C58.0158 40.48 57.9824 40.6867 57.9824 40.86C57.9824 41.26 58.1158 41.46 58.3824 41.46C58.5691 41.46 58.8358 41.3267 59.1824 41.06C59.4491 40.8467 59.7091 40.5733 59.9624 40.24C60.2424 39.8933 60.5024 39.52 60.7424 39.12C60.9824 38.72 61.1891 38.3533 61.3624 38.02C61.4158 37.9267 61.4624 37.88 61.5024 37.88C61.5824 37.88 61.6224 37.9867 61.6224 38.2C61.6224 38.3067 61.6024 38.4333 61.5624 38.58C61.5358 38.7133 61.4824 38.8467 61.4024 38.98C61.2158 39.3 60.9958 39.6533 60.7424 40.04C60.4891 40.4133 60.2291 40.7867 59.9624 41.16C59.7758 41.4 59.5291 41.6733 59.2224 41.98C58.9158 42.2867 58.5891 42.5533 58.2424 42.78C57.9091 43.0067 57.5824 43.12 57.2624 43.12C57.0758 43.12 56.9024 43.08 56.7424 43C56.5824 42.9333 56.4491 42.7933 56.3424 42.58C56.2091 42.3 56.1424 41.92 56.1424 41.44C56.1424 41.2933 56.1491 41.14 56.1624 40.98C56.1758 40.8067 56.1958 40.6333 56.2224 40.46C56.0224 40.74 55.8091 41 55.5824 41.24C55.3691 41.48 55.1491 41.72 54.9224 41.96C54.4158 42.4667 53.9824 42.7867 53.6224 42.92C53.2758 43.0533 52.9491 43.12 52.6424 43.12Z" fill="white"/>
        <defs>
        <filter id="filter0_dd_785_5608" x="0" y="0" width="94.3828" height="74.189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5608"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_785_5608" result="effect2_dropShadow_785_5608"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5608" result="shape"/>
        </filter>
        </defs>
        </svg>
    </div>

        </* Friday*/>
      <div>
          <svg width="95" height="75" viewBox="0 0 95 75" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_dd_785_5608)">
          <rect x="21" y="21" width="52.3837" height="32.189" rx="16.0945" fill="#2B54E7"/>
          </g>
          <path d="M37.0455 43C37.2722 42.0533 37.5989 40.9933 38.0255 39.82C38.4522 38.6467 38.9255 37.4267 39.4455 36.16H38.3455C38.2389 36.16 38.1855 36.12 38.1855 36.04C38.1855 35.96 38.2455 35.8533 38.3655 35.72C38.4855 35.5733 38.6255 35.4467 38.7855 35.34C38.9455 35.2333 39.0789 35.18 39.1855 35.18H39.8655C40.2922 34.1533 40.7189 33.1733 41.1455 32.24C41.5722 31.3067 42.0189 30.4933 42.4855 29.8C41.7789 29.8933 41.0522 30.04 40.3055 30.24C39.5589 30.4267 38.8922 30.6667 38.3055 30.96C37.7189 31.24 37.3055 31.58 37.0655 31.98C37.0522 32.02 37.0255 32.04 36.9855 32.04C36.9589 32.04 36.9322 32.0133 36.9055 31.96C36.8922 31.9067 36.8922 31.8467 36.9055 31.78C37.0389 31.4333 37.2055 31.1 37.4055 30.78C37.6055 30.46 37.7989 30.2067 37.9855 30.02C38.2789 29.7133 38.6789 29.4933 39.1855 29.36C39.6922 29.2267 40.2122 29.14 40.7455 29.1C41.2922 29.06 41.7589 29.04 42.1455 29.04H46.1055C46.5722 29.04 46.9855 29.0267 47.3455 29C47.7189 28.96 48.0322 28.94 48.2855 28.94C48.6989 28.94 48.9389 29.04 49.0055 29.24C49.0189 29.2933 49.0255 29.3467 49.0255 29.4C49.0389 29.44 49.0455 29.4933 49.0455 29.56C49.0455 29.8267 48.9855 30.1333 48.8655 30.48C48.7455 30.8133 48.6122 31.14 48.4655 31.46C48.3322 31.7667 48.2255 32.02 48.1455 32.22C48.1322 32.2867 48.0922 32.3333 48.0255 32.36C47.9722 32.3867 47.9189 32.4 47.8655 32.4C47.7989 32.4 47.7389 32.3867 47.6855 32.36C47.6455 32.3333 47.6322 32.2467 47.6455 32.1C47.6722 31.94 47.7055 31.76 47.7455 31.56C47.7855 31.36 47.8055 31.1867 47.8055 31.04C47.8055 30.6133 47.6122 30.2867 47.2255 30.06C46.8389 29.82 46.3922 29.7 45.8855 29.7C45.5122 29.7 45.2055 29.7333 44.9655 29.8C44.7389 29.8533 44.5455 29.9933 44.3855 30.22C43.9722 30.7933 43.5522 31.5333 43.1255 32.44C42.6989 33.3467 42.2922 34.26 41.9055 35.18H46.3455C46.3855 35.18 46.3589 35.26 46.2655 35.42C46.1855 35.58 46.0789 35.7467 45.9455 35.92C45.8255 36.08 45.7189 36.16 45.6255 36.16H41.4855C41.3389 36.52 41.1522 36.9867 40.9255 37.56C40.7122 38.12 40.4989 38.72 40.2855 39.36C40.0722 40 39.8922 40.6067 39.7455 41.18C39.6122 41.74 39.5455 42.2 39.5455 42.56C39.5455 42.76 39.5722 42.9067 39.6255 43H37.0455ZM49.2593 43.14C48.8326 43.14 48.526 42.96 48.3393 42.6C48.1926 42.28 48.1193 41.9 48.1193 41.46C48.1193 40.9667 48.1926 40.42 48.3393 39.82C48.486 39.22 48.686 38.6067 48.9393 37.98C49.0326 37.7533 49.1526 37.4667 49.2993 37.12C49.4593 36.7733 49.646 36.4333 49.8593 36.1C49.6726 36.26 49.4526 36.3933 49.1993 36.5C48.946 36.5933 48.6993 36.64 48.4593 36.64C48.2726 36.64 48.1193 36.6133 47.9993 36.56C47.8926 36.7733 47.7193 37.12 47.4793 37.6C47.2393 38.08 46.9193 38.6467 46.5193 39.3C46.4793 39.3667 46.4393 39.3667 46.3993 39.3C46.3726 39.22 46.3593 39.1133 46.3593 38.98C46.3593 38.8733 46.3726 38.76 46.3993 38.64C46.426 38.52 46.466 38.4067 46.5193 38.3C46.6526 38.0467 46.786 37.7867 46.9193 37.52C47.0526 37.24 47.1726 36.9933 47.2793 36.78C47.386 36.5667 47.446 36.4333 47.4593 36.38C47.2193 36.26 47.0393 36.0933 46.9193 35.88C46.7993 35.6533 46.7393 35.4333 46.7393 35.22C46.7393 35.0067 46.786 34.8133 46.8793 34.64C46.986 34.4667 47.1393 34.3333 47.3393 34.24C47.4593 34.2 47.5726 34.18 47.6793 34.18C47.9726 34.18 48.2126 34.2733 48.3993 34.46C48.386 34.5133 48.3726 34.5733 48.3593 34.64C48.3593 34.6933 48.3593 34.7533 48.3593 34.82C48.3593 35.2333 48.526 35.54 48.8593 35.74C49.1926 35.94 49.5526 36.0133 49.9393 35.96C50.126 35.6933 50.3393 35.46 50.5793 35.26C50.8193 35.06 51.0793 34.96 51.3593 34.96C51.506 34.96 51.7126 34.9667 51.9793 34.98C52.2593 34.9933 52.4593 34.9933 52.5793 34.98C52.4993 35.0333 52.406 35.14 52.2993 35.3C52.1926 35.46 52.0926 35.6267 51.9993 35.8C51.906 35.9733 51.8326 36.1067 51.7793 36.2C51.4193 36.8933 51.086 37.5867 50.7793 38.28C50.4726 38.96 50.2393 39.6133 50.0793 40.24C50.0526 40.36 50.026 40.4733 49.9993 40.58C49.986 40.6733 49.9793 40.7733 49.9793 40.88C49.9793 41.28 50.1126 41.48 50.3793 41.48C50.566 41.48 50.8326 41.3467 51.1793 41.08C51.486 40.8267 51.7593 40.5467 51.9993 40.24C52.266 39.8933 52.5193 39.52 52.7593 39.12C52.9993 38.72 53.206 38.3533 53.3793 38.02C53.446 37.9133 53.4926 37.86 53.5193 37.86C53.5993 37.86 53.6393 37.98 53.6393 38.22C53.6393 38.3133 53.626 38.4267 53.5993 38.56C53.5726 38.6933 53.526 38.82 53.4593 38.94C53.2593 39.2733 53.0326 39.64 52.7793 40.04C52.526 40.4267 52.266 40.8067 51.9993 41.18C51.826 41.42 51.5793 41.6933 51.2593 42C50.9526 42.3067 50.6193 42.5733 50.2593 42.8C49.9126 43.0267 49.5793 43.14 49.2593 43.14ZM57.0385 33.4C56.6918 33.28 56.5185 33.0533 56.5185 32.72C56.5185 32.4133 56.6385 32.1 56.8785 31.78C57.1318 31.4467 57.4052 31.2333 57.6985 31.14C57.7652 31.1133 57.8185 31.1 57.8585 31.1C57.9118 31.1 57.9652 31.1 58.0185 31.1C58.2452 31.1 58.4318 31.1667 58.5785 31.3C58.7252 31.4333 58.7985 31.5867 58.7985 31.76C58.7985 32 58.6718 32.2 58.4185 32.36C58.2185 32.3333 58.0252 32.38 57.8385 32.5C57.6518 32.62 57.4852 32.7667 57.3385 32.94C57.2052 33.1133 57.1052 33.2667 57.0385 33.4ZM53.5985 43.12C53.4252 43.12 53.2585 43.08 53.0985 43C52.9385 42.9333 52.8052 42.7933 52.6985 42.58C52.5518 42.26 52.4785 41.88 52.4785 41.44C52.4785 40.96 52.5518 40.4267 52.6985 39.84C52.8452 39.24 53.0385 38.6267 53.2785 38C53.3718 37.7733 53.4918 37.4933 53.6385 37.16C53.7852 36.8267 53.9585 36.4933 54.1585 36.16C54.3585 35.8267 54.5852 35.5533 54.8385 35.34C55.1052 35.1133 55.3918 35 55.6985 35C55.8452 35 56.0518 35.0067 56.3185 35.02C56.5852 35.0333 56.7785 35.0333 56.8985 35.02C56.8185 35.0733 56.7252 35.18 56.6185 35.34C56.5118 35.5 56.4118 35.6667 56.3185 35.84C56.2252 36 56.1518 36.1267 56.0985 36.22C55.7518 36.9133 55.4252 37.6 55.1185 38.28C54.8118 38.96 54.5785 39.6133 54.4185 40.24C54.3918 40.3467 54.3718 40.4533 54.3585 40.56C54.3452 40.6667 54.3385 40.7667 54.3385 40.86C54.3385 41.2467 54.4652 41.44 54.7185 41.44C54.8252 41.44 54.9385 41.4133 55.0585 41.36C55.1918 41.2933 55.3452 41.1933 55.5185 41.06C55.8252 40.82 56.0918 40.5467 56.3185 40.24C56.5852 39.8933 56.8385 39.5267 57.0785 39.14C57.3185 38.74 57.5252 38.3733 57.6985 38.04C57.7652 37.9333 57.8118 37.88 57.8385 37.88C57.9185 37.88 57.9585 37.9933 57.9585 38.22C57.9585 38.3267 57.9385 38.4533 57.8985 38.6C57.8718 38.7333 57.8252 38.86 57.7585 38.98C57.5718 39.3 57.3518 39.6533 57.0985 40.04C56.8452 40.4267 56.5852 40.8 56.3185 41.16C56.1318 41.4133 55.8852 41.6933 55.5785 42C55.2718 42.3067 54.9452 42.5733 54.5985 42.8C54.2518 43.0133 53.9185 43.12 53.5985 43.12Z" fill="white"/>
          <defs>
          <filter id="filter0_dd_785_5608" x="0" y="0" width="94.3828" height="74.189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="4" dy="4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5608"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="-4" dy="-4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
          <feBlend mode="normal" in2="effect1_dropShadow_785_5608" result="effect2_dropShadow_785_5608"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5608" result="shape"/>
          </filter>
          </defs>
          </svg>

      </div>

        </*saturday*/>
        <div>
           <svg width="95" height="75" viewBox="0 0 95 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_dd_785_5608)">
            <rect x="21" y="21" width="52.3837" height="32.189" rx="16.0945" fill="#2B54E7"/>
            </g>
            <path d="M39.2088 43.4C38.5422 43.4 37.9222 43.34 37.3488 43.22C36.7755 43.1 36.2955 42.9 35.9088 42.62C35.6422 42.42 35.4355 42.1667 35.2888 41.86C35.1555 41.5533 35.0888 41.24 35.0888 40.92C35.0888 40.52 35.2022 40.1467 35.4288 39.8C35.6555 39.4533 36.0155 39.22 36.5088 39.1C36.5755 39.0867 36.6355 39.08 36.6888 39.08C36.7555 39.0667 36.8155 39.06 36.8688 39.06C37.1355 39.06 37.3688 39.12 37.5688 39.24C37.7822 39.36 37.9288 39.5 38.0088 39.66C37.9555 39.7 37.8822 39.7733 37.7888 39.88C37.6955 39.9733 37.6355 40.0533 37.6088 40.12C37.4088 40.4533 37.3088 40.7867 37.3088 41.12C37.3088 41.5733 37.4822 41.9467 37.8288 42.24C38.1888 42.52 38.6555 42.66 39.2288 42.66C39.7488 42.66 40.2355 42.5333 40.6888 42.28C41.1555 42.0133 41.5288 41.66 41.8088 41.22C42.1022 40.78 42.2488 40.2733 42.2488 39.7C42.2488 39.2733 42.1488 38.82 41.9488 38.34C41.7755 37.9267 41.5355 37.56 41.2288 37.24C40.9355 36.92 40.6555 36.62 40.3888 36.34C40.0288 35.9533 39.6822 35.58 39.3488 35.22C39.0288 34.8467 38.7622 34.4467 38.5488 34.02C38.3488 33.58 38.2488 33.0867 38.2488 32.54C38.2488 32.02 38.3555 31.5133 38.5688 31.02C38.7955 30.5267 39.1155 30.1067 39.5288 29.76C39.9955 29.36 40.5288 29.08 41.1288 28.92C41.7288 28.76 42.3555 28.68 43.0088 28.68C43.8222 28.68 44.4622 28.7867 44.9288 29C45.4088 29.2 45.7488 29.46 45.9488 29.78C46.1622 30.1 46.2688 30.44 46.2688 30.8C46.2688 31.1467 46.1888 31.48 46.0288 31.8C45.8822 32.12 45.6755 32.3933 45.4088 32.62C45.1422 32.8333 44.8488 32.9667 44.5288 33.02C44.4755 33.0333 44.4222 33.04 44.3688 33.04C44.3155 33.04 44.2555 33.04 44.1888 33.04C43.8955 33.04 43.6355 32.9733 43.4088 32.84C43.1955 32.7067 43.0888 32.48 43.0888 32.16C43.0888 32.12 43.0888 32.0733 43.0888 32.02C43.1022 31.9667 43.1155 31.9133 43.1288 31.86C43.3688 31.86 43.6155 31.7733 43.8688 31.6C44.1222 31.4267 44.2888 31.2333 44.3688 31.02C44.4355 30.8467 44.4688 30.6867 44.4688 30.54C44.4688 30.18 44.3022 29.9 43.9688 29.7C43.6488 29.4867 43.2688 29.38 42.8288 29.38C42.3088 29.38 41.8422 29.4933 41.4288 29.72C41.0288 29.9333 40.7155 30.22 40.4888 30.58C40.2622 30.9267 40.1488 31.3067 40.1488 31.72C40.1488 32.1333 40.2755 32.5333 40.5288 32.92C40.7422 33.2267 41.0088 33.5467 41.3288 33.88C41.6488 34.2 41.9755 34.5133 42.3088 34.82C42.6422 35.1133 42.9288 35.3867 43.1688 35.64C43.7155 36.1733 44.1088 36.72 44.3488 37.28C44.5888 37.8267 44.7088 38.3667 44.7088 38.9C44.7088 39.5133 44.5622 40.0933 44.2688 40.64C43.9888 41.1733 43.5955 41.6467 43.0888 42.06C42.5822 42.4733 41.9955 42.8 41.3288 43.04C40.6622 43.28 39.9555 43.4 39.2088 43.4ZM51.2976 43.12C50.8842 43.12 50.5976 42.96 50.4376 42.64C50.2909 42.32 50.2176 41.9267 50.2176 41.46C50.2176 41.0333 50.2576 40.6133 50.3376 40.2C50.3776 40.0133 50.4176 39.8267 50.4576 39.64C50.5109 39.44 50.5709 39.2333 50.6376 39.02C50.4109 39.4333 50.1709 39.8333 49.9176 40.22C49.6776 40.6067 49.4309 40.9467 49.1776 41.24C48.7509 41.76 48.2976 42.1933 47.8176 42.54C47.3509 42.8867 46.8842 43.06 46.4176 43.06C46.0442 43.06 45.7242 42.9267 45.4576 42.66C45.2042 42.38 45.0776 41.9 45.0776 41.22C45.0776 40.5267 45.1976 39.8133 45.4376 39.08C45.6776 38.3467 46.0109 37.6667 46.4376 37.04C46.8776 36.4 47.3909 35.8867 47.9776 35.5C48.5776 35.1133 49.2309 34.92 49.9376 34.92C50.1642 34.92 50.4109 34.9533 50.6776 35.02C50.9442 35.0867 51.1909 35.2133 51.4176 35.4C51.6442 35.5733 51.7976 35.82 51.8776 36.14C51.8909 36.1133 51.9042 36.0933 51.9176 36.08C51.9442 36.0667 51.9642 36.0533 51.9776 36.04C52.1642 35.7467 52.3776 35.5 52.6176 35.3C52.8576 35.1 53.1242 35 53.4176 35C53.5642 35 53.7709 35.0067 54.0376 35.02C54.3042 35.0333 54.4976 35.0333 54.6176 35.02C54.5509 35.0733 54.4576 35.18 54.3376 35.34C54.2309 35.5 54.1309 35.6667 54.0376 35.84C53.9442 36 53.8709 36.1267 53.8176 36.22C53.4576 36.9133 53.1309 37.6 52.8376 38.28C52.5442 38.96 52.3176 39.6133 52.1576 40.24C52.1176 40.3733 52.0909 40.5 52.0776 40.62C52.0642 40.7267 52.0576 40.8333 52.0576 40.94C52.0576 41.2867 52.1709 41.46 52.3976 41.46C52.6109 41.46 52.8776 41.3267 53.1976 41.06C53.6642 40.6867 54.0709 40.22 54.4176 39.66C54.7776 39.1 55.0909 38.56 55.3576 38.04C55.4109 37.9467 55.4576 37.9 55.4976 37.9C55.5776 37.9 55.6176 38.0133 55.6176 38.24C55.6176 38.3467 55.5976 38.4667 55.5576 38.6C55.5309 38.7333 55.4842 38.86 55.4176 38.98C55.2309 39.3 54.9842 39.6933 54.6776 40.16C54.3842 40.6267 54.0509 41.0867 53.6776 41.54C53.3042 41.98 52.9109 42.3533 52.4976 42.66C52.0976 42.9667 51.6976 43.12 51.2976 43.12ZM47.3176 41.38C47.3576 41.3933 47.4176 41.4 47.4976 41.4C47.7509 41.4 48.0242 41.2933 48.3176 41.08C48.6109 40.8667 48.9042 40.5933 49.1976 40.26C49.4909 39.9133 49.7509 39.5667 49.9776 39.22C50.5642 38.2867 50.9976 37.5867 51.2776 37.12C51.5576 36.6533 51.7176 36.3867 51.7576 36.32C51.6909 36.0933 51.5709 35.9267 51.3976 35.82C51.2376 35.7133 51.0442 35.66 50.8176 35.66C50.5242 35.66 50.2109 35.74 49.8776 35.9C49.5576 36.06 49.2842 36.2533 49.0576 36.48C48.7109 36.8267 48.3776 37.2733 48.0576 37.82C47.7509 38.3667 47.4976 38.9067 47.2976 39.44C47.1109 39.9733 47.0176 40.42 47.0176 40.78C47.0176 41.1133 47.1176 41.3133 47.3176 41.38ZM56.2707 43.12C55.884 43.12 55.5907 42.9667 55.3907 42.66C55.2974 42.5133 55.2307 42.34 55.1907 42.14C55.1507 41.94 55.1307 41.7333 55.1307 41.52C55.1307 41.3067 55.144 41.0933 55.1707 40.88C55.1974 40.6533 55.2307 40.4333 55.2707 40.22C55.3374 39.8733 55.4107 39.56 55.4907 39.28C55.584 38.9867 55.6774 38.7067 55.7707 38.44V38.42C55.664 38.62 55.5307 38.84 55.3707 39.08C55.2107 39.3067 55.0974 39.4733 55.0307 39.58C54.9374 39.7267 54.864 39.8 54.8107 39.8C54.7574 39.8 54.7307 39.74 54.7307 39.62C54.7307 39.3533 54.8107 39.06 54.9707 38.74C55.0774 38.5267 55.224 38.2533 55.4107 37.92C55.5974 37.5733 55.7907 37.2 55.9907 36.8C56.1907 36.4 56.364 36.0133 56.5107 35.64H55.1707C55.104 35.64 55.0907 35.5867 55.1307 35.48C55.1707 35.3733 55.2307 35.2733 55.3107 35.18C55.3907 35.0733 55.4507 35.02 55.4907 35.02H57.0107C57.1574 34.6733 57.324 34.3 57.5107 33.9C57.7107 33.5 57.9307 33.1267 58.1707 32.78C58.424 32.42 58.6974 32.1267 58.9907 31.9C59.284 31.6733 59.5974 31.56 59.9307 31.56C60.0774 31.56 60.2574 31.56 60.4707 31.56C60.6974 31.56 60.8374 31.5533 60.8907 31.54C60.6107 31.7267 60.284 32.1 59.9107 32.66C59.5374 33.2067 59.1307 33.9933 58.6907 35.02H60.7107C60.7507 35.02 60.7374 35.0733 60.6707 35.18C60.604 35.2733 60.5174 35.3733 60.4107 35.48C60.3174 35.5867 60.224 35.64 60.1307 35.64H58.4107C58.2374 36.08 58.044 36.56 57.8307 37.08C57.6307 37.6 57.444 38.1133 57.2707 38.62C57.1107 39.1133 56.9907 39.5667 56.9107 39.98C56.8574 40.2333 56.8307 40.4667 56.8307 40.68C56.8307 41.1867 56.9907 41.44 57.3107 41.44C57.524 41.44 57.7774 41.3333 58.0707 41.12C58.364 40.9067 58.6574 40.6133 58.9507 40.24C59.2174 39.8933 59.4707 39.52 59.7107 39.12C59.964 38.72 60.1774 38.3533 60.3507 38.02C60.404 37.9267 60.4507 37.88 60.4907 37.88C60.5707 37.88 60.6107 37.9867 60.6107 38.2C60.6107 38.3067 60.5907 38.4333 60.5507 38.58C60.524 38.7133 60.4707 38.8467 60.3907 38.98C60.204 39.3 59.984 39.6533 59.7307 40.04C59.4774 40.4133 59.2174 40.7867 58.9507 41.16C58.764 41.4 58.5174 41.6733 58.2107 41.98C57.9174 42.2867 57.5974 42.5533 57.2507 42.78C56.9174 43.0067 56.5907 43.12 56.2707 43.12Z" fill="white"/>
            <defs>
            <filter id="filter0_dd_785_5608" x="0" y="0" width="94.3828" height="74.189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur stdDeviation="8.5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5608"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="-4" dy="-4"/>
            <feGaussianBlur stdDeviation="8.5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
            <feBlend mode="normal" in2="effect1_dropShadow_785_5608" result="effect2_dropShadow_785_5608"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5608" result="shape"/>
            </filter>
            </defs>
            </svg>

        </div>
        </*sunday */>
        <div>
            <svg width="95" height="75" viewBox="0 0 95 75" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_dd_785_5608)">
            <rect x="21" y="21" width="52.3837" height="32.189" rx="16.0945" fill="#2B54E7"/>
            </g>
            <path d="M37.578 43.4C36.9113 43.4 36.2913 43.34 35.718 43.22C35.1446 43.1 34.6646 42.9 34.278 42.62C34.0113 42.42 33.8046 42.1667 33.658 41.86C33.5246 41.5533 33.458 41.24 33.458 40.92C33.458 40.52 33.5713 40.1467 33.798 39.8C34.0246 39.4533 34.3846 39.22 34.878 39.1C34.9446 39.0867 35.0046 39.08 35.058 39.08C35.1246 39.0667 35.1846 39.06 35.238 39.06C35.5046 39.06 35.738 39.12 35.938 39.24C36.1513 39.36 36.298 39.5 36.378 39.66C36.3246 39.7 36.2513 39.7733 36.158 39.88C36.0646 39.9733 36.0046 40.0533 35.978 40.12C35.778 40.4533 35.678 40.7867 35.678 41.12C35.678 41.5733 35.8513 41.9467 36.198 42.24C36.558 42.52 37.0246 42.66 37.598 42.66C38.118 42.66 38.6046 42.5333 39.058 42.28C39.5246 42.0133 39.898 41.66 40.178 41.22C40.4713 40.78 40.618 40.2733 40.618 39.7C40.618 39.2733 40.518 38.82 40.318 38.34C40.1446 37.9267 39.9046 37.56 39.598 37.24C39.3046 36.92 39.0246 36.62 38.758 36.34C38.398 35.9533 38.0513 35.58 37.718 35.22C37.398 34.8467 37.1313 34.4467 36.918 34.02C36.718 33.58 36.618 33.0867 36.618 32.54C36.618 32.02 36.7246 31.5133 36.938 31.02C37.1646 30.5267 37.4846 30.1067 37.898 29.76C38.3646 29.36 38.898 29.08 39.498 28.92C40.098 28.76 40.7246 28.68 41.378 28.68C42.1913 28.68 42.8313 28.7867 43.298 29C43.778 29.2 44.118 29.46 44.318 29.78C44.5313 30.1 44.638 30.44 44.638 30.8C44.638 31.1467 44.558 31.48 44.398 31.8C44.2513 32.12 44.0446 32.3933 43.778 32.62C43.5113 32.8333 43.218 32.9667 42.898 33.02C42.8446 33.0333 42.7913 33.04 42.738 33.04C42.6846 33.04 42.6246 33.04 42.558 33.04C42.2646 33.04 42.0046 32.9733 41.778 32.84C41.5646 32.7067 41.458 32.48 41.458 32.16C41.458 32.12 41.458 32.0733 41.458 32.02C41.4713 31.9667 41.4846 31.9133 41.498 31.86C41.738 31.86 41.9846 31.7733 42.238 31.6C42.4913 31.4267 42.658 31.2333 42.738 31.02C42.8046 30.8467 42.838 30.6867 42.838 30.54C42.838 30.18 42.6713 29.9 42.338 29.7C42.018 29.4867 41.638 29.38 41.198 29.38C40.678 29.38 40.2113 29.4933 39.798 29.72C39.398 29.9333 39.0846 30.22 38.858 30.58C38.6313 30.9267 38.518 31.3067 38.518 31.72C38.518 32.1333 38.6446 32.5333 38.898 32.92C39.1113 33.2267 39.378 33.5467 39.698 33.88C40.018 34.2 40.3446 34.5133 40.678 34.82C41.0113 35.1133 41.298 35.3867 41.538 35.64C42.0846 36.1733 42.478 36.72 42.718 37.28C42.958 37.8267 43.078 38.3667 43.078 38.9C43.078 39.5133 42.9313 40.0933 42.638 40.64C42.358 41.1733 41.9646 41.6467 41.458 42.06C40.9513 42.4733 40.3646 42.8 39.698 43.04C39.0313 43.28 38.3246 43.4 37.578 43.4ZM44.5467 43.12C44.2001 43.12 43.9134 42.96 43.6867 42.64C43.4734 42.3067 43.3934 41.7933 43.4467 41.1C43.4734 40.8067 43.5401 40.4333 43.6467 39.98C43.7534 39.5267 43.8934 39.04 44.0667 38.52C44.2534 37.9867 44.4601 37.4733 44.6867 36.98C44.9134 36.4733 45.1601 36.0267 45.4267 35.64C45.5734 35.44 45.7201 35.32 45.8667 35.28C46.0267 35.2267 46.3134 35.2 46.7267 35.2H47.6867C47.4601 35.52 47.2201 35.92 46.9667 36.4C46.7134 36.88 46.4801 37.36 46.2667 37.84C46.0534 38.3067 45.8867 38.7 45.7667 39.02C45.7401 39.1133 45.6867 39.28 45.6067 39.52C45.5267 39.7467 45.4534 40 45.3867 40.28C45.3201 40.56 45.2867 40.82 45.2867 41.06C45.2867 41.2733 45.3267 41.4533 45.4067 41.6C45.4867 41.7467 45.6334 41.82 45.8467 41.82C46.1001 41.8067 46.3734 41.6467 46.6667 41.34C46.9601 41.0333 47.2534 40.64 47.5467 40.16C47.8401 39.68 48.1267 39.18 48.4067 38.66C48.7001 38.1267 48.9601 37.6333 49.1867 37.18C49.4267 36.7133 49.6267 36.3533 49.7867 36.1C49.9867 35.7933 50.2001 35.5267 50.4267 35.3C50.6534 35.06 50.9134 34.94 51.2067 34.94C51.3134 34.94 51.4534 34.9467 51.6267 34.96C51.8134 34.96 51.9934 34.96 52.1667 34.96C52.3534 34.96 52.4801 34.9533 52.5467 34.94C52.4667 34.9933 52.3734 35.1 52.2667 35.26C52.1601 35.42 52.0534 35.5867 51.9467 35.76C51.8534 35.92 51.7801 36.0533 51.7267 36.16C51.3801 36.8533 51.0401 37.5533 50.7067 38.26C50.3867 38.9533 50.1467 39.6133 49.9867 40.24C49.9201 40.48 49.8867 40.6867 49.8867 40.86C49.8867 41.26 50.0201 41.46 50.2867 41.46C50.4734 41.46 50.7401 41.3267 51.0867 41.06C51.3534 40.8467 51.6134 40.5733 51.8667 40.24C52.1467 39.8933 52.4067 39.52 52.6467 39.12C52.8867 38.72 53.0934 38.3533 53.2667 38.02C53.3201 37.9267 53.3667 37.88 53.4067 37.88C53.4867 37.88 53.5267 37.9867 53.5267 38.2C53.5267 38.3067 53.5067 38.4333 53.4667 38.58C53.4401 38.7133 53.3867 38.8467 53.3067 38.98C53.1201 39.3 52.9001 39.6533 52.6467 40.04C52.3934 40.4133 52.1334 40.7867 51.8667 41.16C51.6801 41.4 51.4334 41.6733 51.1267 41.98C50.8201 42.2867 50.4934 42.5533 50.1467 42.78C49.8134 43.0067 49.4867 43.12 49.1667 43.12C48.9801 43.12 48.8067 43.08 48.6467 43C48.4867 42.9333 48.3534 42.7933 48.2467 42.58C48.1134 42.3 48.0467 41.92 48.0467 41.44C48.0467 41.2933 48.0534 41.14 48.0667 40.98C48.0801 40.8067 48.1001 40.6333 48.1267 40.46C47.9267 40.74 47.7134 41 47.4867 41.24C47.2734 41.48 47.0534 41.72 46.8267 41.96C46.3201 42.4667 45.8867 42.7867 45.5267 42.92C45.1801 43.0533 44.8534 43.12 44.5467 43.12ZM57.8711 43.12C57.4178 43.12 57.1044 42.9867 56.9311 42.72C56.7711 42.44 56.6911 42.12 56.6911 41.76C56.6911 41.32 56.7778 40.7933 56.9511 40.18C57.1244 39.5533 57.3244 38.9267 57.5511 38.3C57.7911 37.66 58.0044 37.0933 58.1911 36.6C58.2444 36.48 58.2711 36.3533 58.2711 36.22C58.2711 36.0733 58.2244 35.9667 58.1311 35.9C58.0378 35.8333 57.9178 35.8 57.7711 35.8C57.5578 35.8 57.3178 35.8667 57.0511 36C56.6378 36.2133 56.2444 36.5533 55.8711 37.02C55.4978 37.4867 55.1978 37.9733 54.9711 38.48C54.7178 39.0533 54.4911 39.6267 54.2911 40.2C54.0911 40.7733 53.9311 41.24 53.8111 41.6C53.7311 41.8267 53.6578 42.06 53.5911 42.3C53.5244 42.54 53.4578 42.7733 53.3911 43H51.4511C51.4511 43 51.4978 42.8333 51.5911 42.5C51.6711 42.1667 51.7778 41.8333 51.9111 41.5C52.1378 40.9133 52.3644 40.3267 52.5911 39.74C52.8311 39.1533 53.0378 38.6333 53.2111 38.18C53.2644 38.0467 53.3444 37.8 53.4511 37.44C53.5711 37.0667 53.6778 36.68 53.7711 36.28C53.8778 35.88 53.9311 35.5533 53.9311 35.3C53.9311 35.1533 53.9111 35.0533 53.8711 35C53.9911 35 54.1244 35 54.2711 35C54.4311 34.9867 54.5778 34.98 54.7111 34.98C54.8978 34.98 55.0711 34.9867 55.2311 35C55.4044 35.0133 55.5178 35.0467 55.5711 35.1C55.7311 35.22 55.8111 35.3933 55.8111 35.62C55.8111 35.78 55.7778 35.94 55.7111 36.1C55.6578 36.26 55.6178 36.3933 55.5911 36.5C55.7778 36.3267 55.9711 36.16 56.1711 36C56.3711 35.84 56.6778 35.6333 57.0911 35.38C57.3311 35.2333 57.6311 35.1133 57.9911 35.02C58.3511 34.9267 58.6778 34.88 58.9711 34.88C59.7311 34.88 60.1111 35.2333 60.1111 35.94C60.1111 36.06 60.0978 36.1933 60.0711 36.34C60.0578 36.4867 60.0178 36.6467 59.9511 36.82C59.8844 37.0333 59.7778 37.3267 59.6311 37.7C59.4844 38.0733 59.3311 38.4733 59.1711 38.9C59.0244 39.3133 58.8978 39.7067 58.7911 40.08C58.6844 40.4533 58.6311 40.7533 58.6311 40.98C58.6311 41.3 58.7511 41.46 58.9911 41.46C59.2044 41.46 59.4711 41.3267 59.7911 41.06C60.0978 40.8067 60.3644 40.5333 60.5911 40.24C60.8711 39.8933 61.1244 39.5267 61.3511 39.14C61.5911 38.74 61.7978 38.3733 61.9711 38.04C62.0378 37.9333 62.0844 37.88 62.1111 37.88C62.1911 37.88 62.2311 37.9933 62.2311 38.22C62.2311 38.3267 62.2111 38.4533 62.1711 38.6C62.1444 38.7333 62.0978 38.86 62.0311 38.98C61.8444 39.3 61.6244 39.6533 61.3711 40.04C61.1178 40.4267 60.8578 40.8 60.5911 41.16C60.4044 41.4133 60.1578 41.6933 59.8511 42C59.5444 42.3067 59.2178 42.5733 58.8711 42.8C58.5244 43.0133 58.1911 43.12 57.8711 43.12Z" fill="white"/>
            <defs>
            <filter id="filter0_dd_785_5608" x="0" y="0" width="94.3828" height="74.189" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="4" dy="4"/>
            <feGaussianBlur stdDeviation="8.5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5608"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="-4" dy="-4"/>
            <feGaussianBlur stdDeviation="8.5"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
            <feBlend mode="normal" in2="effect1_dropShadow_785_5608" result="effect2_dropShadow_785_5608"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5608" result="shape"/>
            </filter>
            </defs>
            </svg>

        </div>
  </div>
  
    <% nxt_url = "/c/?start_date=#{nxt_month}"%>
    <% pre_url = "/c/?start_date=#{pre_month}"%>

    <div class="grid grid-cols-7 gap-8 w-2/3 font-bold">
        <% dates.each do |date|%>
        <% new_dates = date.to_s%>
        <% new_date = new_dates.split("-")%>

        <% if new_date[1] == lst_mont_date || new_date[1] == nxt_mont_date%>
            <% day = "" %>
        <% else%>
            <% day = date.day%>
        <% end%>

        <div class="pl-6">
            <%if @today_date == new_dates %>
                <div class="text-blue-700 font-bold text-2xl">
                    <%= day%>
                </div>
            <%else%>
                <div>
                    <%= day%>
                </div>
            <%end%>
        </div>

      <%end%>

    <div class="inline-block flex pl-44">

      <div class="inline-block">
            <%= link_to pre_url, class: 'inline-block' do %>
            <svg width="56" height="56" viewBox="0 0 76 83" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_dd_2210_7)">
            <circle cx="38" cy="43" r="27" transform="rotate(180 38 43)" fill="#2B47D9"/>
            </g>
            <path d="M36.4883 44.7303C35.147 43.9621 35.147 42.0275 36.4883 41.2593L43.7705 37.0885C45.1038 36.3249 46.7645 37.2875 46.7645 38.8241L46.7645 47.1655C46.7645 48.702 45.1038 49.6647 43.7705 48.901L36.4883 44.7303Z" fill="white" fill-opacity="0.8"/>
            <rect x="33.4581" y="51.0908" width="4.25804" height="16.1919" rx="2" transform="rotate(180 33.4581 51.0908)" fill="white" fill-opacity="0.8"/>
            <defs>
            <filter id="filter0_dd_2210_7" x="0" y="0" width="76" height="83" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="-3" dy="-8"/>
            <feGaussianBlur stdDeviation="4"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2210_7"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="3" dy="5"/>
            <feGaussianBlur stdDeviation="4"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="effect1_dropShadow_2210_7" result="effect2_dropShadow_2210_7"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_2210_7" result="shape"/>
            </filter>
            </defs>
            </svg>

            <%end%>
        </div>



        <div class="inline-block">
            <%= link_to nxt_url, class: 'inline-block', style: "padding-bottom: 30px;" do %>
            <svg width="56" height="56" viewBox="0 0 72 79" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_dd_2210_12)">
            <circle cx="35.6" cy="40.6" r="24.6" fill="#2B47D9"/>
            </g>
            <path d="M37.3246 38.4645C38.666 39.2327 38.666 41.1672 37.3246 41.9355L28.8327 46.7991C27.4994 47.5627 25.8387 46.6001 25.8387 45.0636L25.8387 35.3364C25.8387 33.7999 27.4994 32.8372 28.8327 33.6009L37.3246 38.4645Z" fill="white" fill-opacity="0.8"/>
            <rect x="40.3549" y="31.368" width="4.64516" height="17.664" rx="2" fill="white" fill-opacity="0.8"/>
            <defs>
            <filter id="filter0_dd_2210_12" x="0" y="0" width="71.2" height="78.2" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="-3" dy="-8"/>
            <feGaussianBlur stdDeviation="4"/>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.1 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2210_12"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dx="3" dy="5"/>
            <feGaussianBlur stdDeviation="4"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="effect1_dropShadow_2210_12" result="effect2_dropShadow_2210_12"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_2210_12" result="shape"/>
            </filter>
            </defs>
            </svg>

            <%end%>
        </div>

    </div>

    </div>


</div>