<%= stylesheet_link_tag 'abouts/about' %>

<body class="about-body">
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="<%= asset_path('usera.jpg') %>">
                </div> 
                <div class="about-col-2">
                    <h1 class="sub-title" style="text-align: center; color: #00c0f9">About Me</h1>
                    <p style="font-size: 18px; padding-top: 20px;">

                    I am a passionate and dedicated backend developer specializing in Ruby on Rails. 
                    With a keen eye for detail and a love for problem-solving, 
                    I thrive in building reliable and scalable web applications. 
                    My expertise lies in optimizing performance, implementing RESTful APIs, 
                    and ensuring robust data security. I have a strong foundation in MVC 
                    architecture and database management. With a continuous desire to learn and 
                    stay updated with industry trends, I am committed to delivering cutting-edge solutions.

                    </p>

                    <div class="tab-titles">
                        <p class="tab-links active-link" style="font-size: 20px; font-weight: bold;" onclick="opentab('skills')">Skills</p>
                        <p class="tab-links" style="font-size: 20px; font-weight: bold;" onclick="opentab('experience')">Experience</p>
                    </div>

                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Programing Languages:</span><br>Ruby, Python, Javascript, C</li>
                            <li><span>Web Development:</span><br>Ruby on Rails, HTML/CSS, Bootstrap, Sinatra</li>
                            <li><span>Database:</span><br>PostgreSQL, MySQL, Sqlite</li>
                            <li><span>Tools:</span><br>VS Code, Github, CLI, DBMS, Docker, AWS</li>
                            <li><span>API Development:</span><br>Building and consuming APIs using </br>frameworks like RESTful APIs or Swagger.</li>
                            
                        </ul>
                    </div>

                    <div class="tab-contents" id="experience">
                    
                    <div style="width: 200px; padding-top: 16px; ">
                        <img src="<%= asset_path('Qwasar-Logo.png') %>" style="max-width: 70%; height: auto;">
                    </div>

                        <ul>
                            <li>
                                <span style="font-size: 18px;">Fullstack Engineering Qwasar Silicon Valley</span><br>* Developed a strong foundation in backend development through a rigorous curriculum focused on real-world projects and hands-on learning.</br></br>
                                * Gained practical experience in building web applications using modern technologies and frameworks.</br></br>
                                * Collaborated with a diverse team of fellow students, simulating real-world working environments and fostering teamwork and communication skills.</br></br>
                                * Demonstrated problem-solving abilities by resolving technical challenges and debugging issues encountered during project development.</br></br>
                                * Attempted and completed 15 projects in addition to exercises</br></br>
                            </li>

                            <div style="width: 200px; padding-top: 16px; ">
                                <img src="<%= asset_path('Qwasar-Logo.png') %>" style="max-width: 70%; height: auto;">
                            </div>

                            <li>
                                <span style="font-size: 18px;">Backend Engineering Qwasar Silicon Valley </span><br>
                                * Graduated with a comprehensive understanding of backend development principles and practices, ready to contribute to real-world projects.</br></br> 
                                * Developed database schemas and implemented complex data models. </br></br> 
                                * Implemented business logic and application workflows using Ruby on Rails framework. </br></br> 
                                * Attempted and completed 58 projects in addition to exercises. </br></br> 
                                * Deployed applications to production servers using AWS and managed continuous integration with Git.

                            </li>

                            <div style="width: 150px; padding-top: 16px; ">
                                <img src="<%= asset_path('logo-alx.png') %>" style="max-width: 60%; height: auto;">
                            </div>

                            <li>
                                <span style="font-size: 18px;">Software Engineering ALX Africa </span><br>
                                * Developed dynamic web applications using modern technologies such as Python and JavaScript.</br></br> 
                                * Utilized version control systems like Git to manage code collaboration and ensure seamless integration of project components. </br></br> 
                                * Gained a solid understanding of software engineering principles, including object-oriented programming, design patterns, and software architecture. </br></br> 
                                * Implemented API endpoints, handled request/response data, and ensured proper authentication and authorization mechanisms.</br></br> 
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");

        function opentab(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active-link");
            }

            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
            
        }
    </script>

    <style>
    @keyframes fall {
      0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
    .fall-animation {
      animation: fall 0.5s ease-out forwards;
      opacity: 0;
    }
  </style>


    <script>
        var sidemenu = document.getElementById("sidemenu");

        function openmenu(){
            sidemenu.style.right = "0";
        }

        function closemenu(){
            sidemenu.style.right = "-200px";
        }
    </script>
</body>
