<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/ba9f6d5b45.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "homes/navbar"%>
    <%= yield %>
  </body>
</html>



